---
const personalImageAlt = "Rodrigo Miliano";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Rodrigo Ezequiel Miliano. Empecé desde cero en la carrera de
      analista de sistemas en 2019. Actualmente estoy <strong
        >trabajando en desarrollo para el programa RemediAR</strong
      >.
    </p>

    <p>
      Mi proyecto más grande fue <strong
        >COMANDA, una app para realizar tus pedidos en un restaurante desde tu
        celular, y que servía también para gestión del local</strong
      >. El proyecto fue desarrollado luego de terminar la cursada, que
      finalmente fue aprobado por los docentes de <strong
        >Escuela de Arte y Multimedia Da Vinci</strong
      >.
    </p>

    <p>
      Hoy en día, <strong
        >continúo capacitándome por mi cuenta con cursos y videos relacionados
        con <em class="italic">desarrollo, programación e Inglés</em></strong
      >. Mi objetivo es mejorar día a día mis habilidades de programación y
      desarrollo, adaptándome a las nuevas tendencias.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
