---
const personalImageAlt1 = "La Reverde";
const personalImageAlt2 = "La Choza";
const personalImageAlt3 = "Il Ballo Del Mattone";
const personalImageAlt4 = "No Mames Wey";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal
           [&>p>strong]:font-mono text-pretty order-1 md:order-1"
  >
    <img
      width="200"
      height="200"
      src="/la-reverde.png"
      alt={personalImageAlt1}
      class="order-1 object-cover w-64 h-full p-1 md:order-1 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl
      bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 mb-4"
      style="object-position: 50% 50%"
    />
    <p>
      "Sin dudas COMANDA nos ayuda muchísimo, ya que somos 2 o 3 personas en el turno para el local y nos ahorra mucho
      trabajo." <strong>La Reverde</strong>.
    </p>
  </div>

  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal
           [&>p>strong]:font-mono text-pretty order-2 md:order-2"
  >
    <img
      width="200"
      height="200"
      src="/la-choza.png"
      alt={personalImageAlt2}
      class="order-2 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl
      bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 mb-4"
      style="object-position: 50% 50%"
    />
    <p>
      "La app es acorde a nuestros estándares de calidad, sincronizamos nuestro
      trabajo con los pedidos del cliente a la perfección." <strong
        >La Choza</strong
      >.
    </p>
  </div>

  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal
         [&>p>strong]:font-mono text-pretty order-3 md:order-3"
  >
    <img
      width="200"
      height="200"
      src="/il-ballo-del-mattone.png"
      alt={personalImageAlt3}
      class="order-3 object-cover w-64 h-full p-1 md:order-3 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl
      bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 mb-4"
      style="object-position: 50% 50%"
    />
    <p>
      "Nuestros clientes habituales se sienten muy cómodos utilizando la app, y a
      nosotros nos ayuda día a día." <strong>Il Ballo Del Mattone</strong>.
    </p>
  </div>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal
         [&>p>strong]:font-mono text-pretty order-4 md:order-4"
  >
    <img
      width="200"
      height="200"
      src="/no-mames-wey.png"
      alt={personalImageAlt4}
      class="order-4 object-cover w-64 h-full p-1 md:order-4 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl
      bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 mb-4"
      style="object-position: 50% 50%"
    />
    <p>
      "Para el que no conoce la gastronomía mexicana, esta app sin dudas le ayuda
      mucho a visualizar nuestros productos." <strong>No Mames Wey</strong>.
    </p>
  </div>
</article>
