---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "11/2022 - Actualmente",
    title: "Desarrollador web & mobile",
    company: "Ministerio de Salud de la Nación",
    description:
      "Desarrollador fullstack para el programa RemediAR, a cargo del Ministerio de Salud de la Nación. En el mismo se utilizan tecnologías como: .NET, PHP, Laravel, C#, SQL Server.",
  },
  {
    date: "03/2014 - 11/2022",
    title: "Administrativo en facturación",
    company: "Medical's S.A.",
    description:
      "Envío facturas y notas de crédito/débito a AFIP, ingreso cobranza (cobradores, medios electrónicos, depósitos y transferencias), control cuenta corriente, seguimiento morosos, atención telefónica.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
