---
const personalImageAlt = "foto Rodrigo";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/rodrigo.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/rodrigo-miliano"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Rodrigo Miliano
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +1 año de experiencia. <strong>Desarrollador web y mobile.</strong> De Buenos
    Aires, Argentina. 🇪🇸. Especializado en creación y mantenimiento de apps.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:rodrigomiliano@hotmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/rodrigo-miliano">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/rodrigomiliano">
      <GitHubIcon class="size-4 md:size-6" />
      GitHub
    </SocialPill>
  </nav>
</div>
